
:root{
    --clr-primary--300: #ffffff;
    --clr-page: #ff737c;
    --cle-container: #ffd2a2;
    --clr-header-footer: #3b4970;
    --clr-facebook-blue: #5271ff;
    --clr-logo-bg: #d9d9d9;

    --ff-titles: font-family:"Fahkwang", sans-serif;
    --ff-body: font-family: "Righteous", cursive;
}
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    /* display: block; */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* ///////////////////////////////////////////////////////////////////////// */

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #ff737c;
  font-size: 16px;
}

p,
h1,
h2,
button{
    font-family: "Righteous", cursive;
    color:#212022;
}

h1{
    font-size: 1.2rem;
    text-align: center;
}
.sticky-header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
    background-color:#3b4970;
    display: flex;
    align-content: center;
    justify-content: center;
}

.game-name{
    font-size: 1.5rem;
    align-self:center; 
    color:#fff;

}
.footer{
    background-color:#3b4970;
    position: fixed;
    bottom: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    min-width: 347px;
    height: 5vh;
}

.footer-text{
    color: #ffffff;
    font-size: 0.6rem;
    display:inline; 
    align-self: center; 
}

.container{
    width:90%;
    /* height: 70%; */
    max-width: 596px;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    
    top: 15%;
    bottom: 15%;
    left: 5%;
    right:5%;
    margin:0 auto;
}

/* //////////////////////////Start Screen//////////////////////////////////
/////////////////////////////////////////////////////////////////////////// */

.inner-container{
    padding: 1.5em;
    width: 90%;
    min-height: 30%;
    box-shadow: 8px -1px 7px -3px rgba(76,76,76,0.29);
    background-color: #ffd2a2;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    margin: 3em auto;
}

.img-start-screen{
    width: 40%; 
    min-width: 100px ;
}

.img-start-screen:active{
    opacity: 0.8;
    transform: scale(1.2);
}

.img-start-screen.selected{
    opacity: 0.6;
}

.line-1{
    border-bottom: 1px solid black;
}

.user-img-box,
.computer-img-box{
    display: flex;
    justify-content: space-evenly;
}

button{
    width: 25%;
    max-width: 142px;
    min-width:100px;
    background-color: #3b4970;
    color: #fff;
    padding: 0.3em 0.5em;
    border-radius: 6px;
    font-size: 1em;
}

/* //////////////////////////Instructions Screen//////////////////////////////////
/////////////////////////////////////////////////////////////////////////// */

.container.instructions{
    justify-content: space-evenly;
    background-color: #ffd2a2;
    padding: 1em;
    box-shadow: 8px -1px 7px -3px rgba(76,76,76,0.29);
}

.instructions-page{
    font-size: 1.4em;
}

.instructions-txt{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: center;
}

/* //////////////////////////Game Screen://////////////////////////////////
/////////////////////////////////////////////////////////////////////////// */

/* #game-screen{
    justify-content: space-between;
} */

.container.game-screen{
    justify-content: space-between;
    background-color: #ffd2a2;
    box-shadow: 8px -1px 7px -3px rgba(76,76,76,0.29);
}

.new-post-container{
    display: block; 
    margin-bottom: 1em;  
}

button.new-post{
    width: 25%;
    max-width: 142px;
    min-width:92px;
    background-color: #3b4970;
    color: #fff;
    padding: 0.3em 0.5em;
    border-radius: 6px;
    font-size: 1em;
}

.bottom-btns{
    position:absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: 10%;
    left: 10%;
    right: 10%;
     margin-top: 0.2em;
}

.new-game-btn,
.tips-btn{
    min-width: 80px;
    font-size: 0.8em;
    width: 20%;
}


/* /////////////////Top of the game screen.//////////////// */

.top-game-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    align-items: center;
}

.game-screen-avatars{
    width:30%;
}

.progress-container{
    border: solid 0.1em #212022;
    border-radius: 6px;
    min-width: 40%;
    background-color:#ff737c;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1.progress{
    font-size: 0.8rem;
    text-align: center;
    color:#3b2f2e;
    display: block;
}

.progress-elements{
    display: flex;
    /* flex-direction: column; */
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;



}

ul.progress{
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    font-size: 0.6rem;
    font-family:"Righteous", cursive;
    color:#3b2f2e;
}


li.checkbox {
    width: 30%;
    height: 30%;
    min-width: 15px;
    min-height: 15px;
    background-color: #f5f5f5;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-txt-box,
.p-img-box,
.p-video-box{
    display: none;
    font-size: 1em;
    /* width: 100%; */
}

.p-txt-box.done,
.p-img-box.done,
.p-video-box.done{
    display: block;
    /* justify-content: center; */
    /* text-align:center; */
}

.avatar-reaction{
    display: none;
    opacity: 0.9;
    position: absolute;
    background-color:#5271ff;
    font-family:"Righteous", cursive;
    color: #fff;
    padding: 0.5em;
    border-radius: 8px;
    
    top: 11%;
    right: 2%;
    z-index: 2;
}

.avatar-reaction.result-showing{
    display: block;
}

/* /////////////////////Main game screen/////////////////////////////////////////// */

.main-game-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-height: 390px;
    max-width: 380px;
    border: solid 0.1em #212022;
    border-radius: 2px;
    background-color: #fff;
    
}

/* ////////////////////Game Logo////////////////////////// */

.game-logo{
    background-color: #5271ff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container{
    display: flex;
    height: 80%;
    background-color: #d9d9d9;
    padding: 1% 3%;
    border-radius: 2px;
}

.logo-txt{
    color: #5271ff;
    font-size: 1.1rem;
    align-self: center;
}

/* ///////////////////Game Contents////////////////// */

.game-contents-container{
    height: 70%;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* right: 10px; */
}


/* ////////////////Profile Container/////////// */

.profile-container{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
    border-top: solid 0.1em #212022;
    border-bottom: solid 0.1em #212022;
}

.profile-pic{
    width: 20%;
}

.profile-container-left,
.profile-container-right{
    display: flex;
}

.profile-container p {
    align-self: flex-end;
}

span {
    font-family: "Righteous", cursive;
    padding-right: 1em;
}


/* ////////////////Scene Container/////////// */

.scene-container{
    border-bottom: solid 0.1em #212022;
    height: 80%;
}
 p.scene-para{
    padding: 0.5em 0.3em 0.5em 0.3em;
    /* border-bottom: solid 0.01em #212022; */
    font-family:"Fahkwang", sans-serif;
    font-size: 1.2rem;
} 

.scene-para{
    position: relative;
    display: none;
    font-family:"Fahkwang", sans-serif;
    width: 100%;
    height: 100%;
}
.scene-img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    position: relative;
    display: none;
}
.scene-video{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.scene-para.show{
    display: flex;

}

.scene-img.show{
    display: flex;
}

.scene-video.show{
    display: flex;
}
/* ///////////////Reaction Container/////////////////////////////////// */

.reaction-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    /* border: #212022 0.1em solid; */
    align-items: flex-start;
}
.reaction{
    width: 15%;
}

.reaction.btn-selected{
    transform: scale(1.5);
    /* border: #212022 0.5px solid; */
    /* opacity: 0.8; */
    filter: sepia(100%);
}

.new-post{
    margin: 1em 0;
}

/* ///////////////////////End Screen//////////////////////////////////////////////////////////////////////// */

.container.end-screen{
    background-color: #ffd2a2;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    bottom: 30%;
}

h1.end-header{
    margin-top: 10%;
    margin-bottom: 10%;
}
p.end-txt{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20%;
}

#play-again{
    justify-content: center;
    padding: 0.5em 0;
}




/* ///////////////////////Tips Screen//////////////////////////////////////////////////////////////////////// */

.container.tips-screen{
    background-color: #ffd2a2;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    bottom: 20%;
    border-radius: 2px;
}

h1.tips-header{
    margin-top: 10%;
    margin-bottom: 10%;
}
p.tips-txt{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

#back{
    justify-content: center;
    padding: 0.5em 0;
}

/* ///////////////////////////////////////Screen Display///////////////////////////////////// */


#start-screen1 {
    display: none;
}

#start-screen2 {
    display: none;
}

#instructions-screen{
    display: none;
}

#game-screen {
    display: none;
}

#tips-screen{
    display: none;
}

#end-screen {
    display: none;
}


#start-screen1.display{
    display: flex;
}

#start-screen2.display{
    display: flex;
}
#instructions-screen.display{
    display: flex;
}

#game-screen.display{
    display: flex;
    
}

#tips-screen.display{
    display: flex;
}

#end-screen.display{
    display: flex;
}

.bottom-btn-container.in-game-container{
    display: none;
}



@media (min-width:408px) {

    .bottom-btn-container{
        display: none;
    }

    .new-post-container{
        display: none;
    }

    #game-screen{
        /* justify-content: space-between; */
        /* position: relative; */
} 
    .container{
        width:90%;
        height: 78%;
        max-width: 650px;
        position: absolute;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        
        top: 15%;
        bottom: 15%;
        left: 5%;
        right:5%;
        margin:0 auto;
    }

    .container.game-screen{
        /* justify-content: space-between; */
        background-color: #ffd2a2;
        box-shadow: 8px -1px 7px -3px rgba(76,76,76,0.29);
    }
    
    .main-game-container{
        display: flex;
        flex-direction: column;
        width: 70%;
        max-height: 390px;
        max-width: 380px;
        border: solid 0.1em #212022;
        border-radius: 2px;
        background-color: #fff;
        position: absolute;

        left: 3%;
        top: 30%;
    }

    .bottom-btn-container.in-game-container{
        display: none;
    }
    
    .bottom-btn-container.in-game-container{
        display: block;
        position:relative;
    
        position:absolute;
        bottom: 45%;
        /* left: 74%; */
        right: 12%;
        margin-top: 0.2em;
    }

    
    .bottom-btns.in-game-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        gap: 0.5em; 
    }

    .new-post{
        display: block;
        width: 20%;
        max-width: 142px;
        min-width:92px;
    }

    .new-game-btn,
    .tips-btn{
        min-width: 83px;
        font-size: 0.8em;
        width: 8%;
        
    }

    .avatar-reaction{
        display: none;
        opacity: 0.9;
        position: absolute;
        background-color:#5271ff;
        font-family:"Righteous", cursive;
        color: #fff;
        padding: 0.5em;
        border-radius: 8px;
        
        top: 11%;
        right: 10%;
        z-index: 2;
    }
}

@media (min-width:890px) {

    .main-game-container{
        display: flex;
        flex-direction: column;
        width: 70%;
        max-height: 450px;
        max-width: 380px;
        border: solid 0.1em #212022;
        border-radius: 2px;
        background-color: #fff;
        position: absolute;

        left: 3%;
        top: 30%;
    }

    .bottom-btns{
        z-index: 3;
        position:absolute;
        bottom: 35%;
        left: 70%;
        /* right: 0%; */
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-top: 0.2em;
        /* justify-content: space-evenly; */
    }

    .avatar-reaction{
        display: none;
        opacity: 0.9;
        position: absolute;
        background-color:#5271ff;
        font-family:"Righteous", cursive;
        color: #fff;
        padding: 0.5em;
        border-radius: 8px;
        
        top: 12%;
        right: 20%;
        z-index: 2;
    }
}

@media (min-width:1119px) {
    .bottom-btns{
        z-index: 3;
        position:absolute;
        bottom: 35%;
        left: 64%;
        /* right: 0%; */
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-top: 0.2em;
        /* justify-content: space-evenly; */
    }

    .avatar-reaction{
        display: none;
        opacity: 0.9;
        position: absolute;
        background-color:#5271ff;
        font-family:"Righteous", cursive;
        color: #fff;
        padding: 0.5em;
        border-radius: 8px;
        
        top: 12%;
        right: 25%;
        z-index: 2;
}